<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads" xmlns:rim="http://www.blackberry.com/ns/widgets" id="cordova-plugin-allow-backup" version="0.0.2">
  <name>cordova-plugin-allow-notifications</name>
  <description>
		Active ask permissions to send notifications on Android 13
	</description>
  <license>MIT</license>
  <engines>
    <engine name="cordova" version=">=6.4.0"/>
    <engine name="cordova-android" version=">=6.0.0"/>
  </engines>
  <platform name="android">
    <config-file parent="/*" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    </config-file>
  </platform>
</plugin>
